@import url('https://fonts.googleapis.com/css2?family=Monoton&family=Montserrat:wght@200&display=swap');

 body{
background-image: url(img/fondo2.png);
}
h1,h3{
  font-family: 'Montserrat', sans-serif;
  font-size: 30px;
}
h5. p, a {
font-family: 'Monoton', cursive;
}
h5{
  font-size: 20px;
}
.contenedor{
  text-align: center;
  width: 60%;

margin: 50px auto;
padding: 20px;
border: 2px solid black;
border-radius: 8px;
}

 .bordefoto{
   border: 2px solid black
border-radius: 500px;
 }
.adaptable{

  width: 100%;
  height: auto;
}
