*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    
}
/* font titulos */
@import url('https://fonts.googleapis.com/css2?family=Epilogue:ital,wght@0,100..900;1,100..900&display=swap');
/* font cuerpo */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');


html{
    scroll-behavior: smooth;
}


body{

    background-color: yellow;
    font-size: 16px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

    color: white;

    

}
h1{
    font-size: 82px;
    
  font-family: "Epilogue", sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;


  line-height: 80px;
}
h2{
 
    font-size: 30px;
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;

}






.contenido{
    background-color: rgb(21,21,21);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto;

   row-gap: 80px;

    
}

.header{
    grid-column: span 12;
    grid-row: span 1;
    background-color: white;
    height: 60px;
    
    display: flex;
    justify-content: center;

    > img{
        
        
    }
}


#fondo{
    background-image: url(img/portada.png), url(img/decoracionCalificaciones.png), url(img/decoracionCalificaciones.png),
    url(img/decoracionBullets.png), url(img/decoracionBullets.png), url(img/decoracionBullets.png), url(img/decoracionFormulario1.png);
    background-repeat: no-repeat;
    
    background-position: 0px 60px, -200px 2100px, 1070px 2100px, 160px 2750px , 490px 2750px, 810px 2750px, 0px 3240px;
    background-size: 1270px 550px, auto, auto, 350px 300px,350px 300px,350px 300px, 220px 180px;
    
    
}


.titulo{
    
    grid-column: 3/11;
    grid-row: span 1;
    color: white;
    height: 700px;
    
    display: flex;
    justify-content: space-between;
    padding-top: 30px;

}
.button{
    background-color: rgba(233,2,72);
    
    color: white;
    border-radius: 15px;
    border: none;
    scroll-behavior: smooth;
    text-decoration: none;
    cursor: pointer;
    padding: 20px;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
    
}

.beneficions{
    grid-column: 3/11;
    grid-row: span 1;
    
    height: 500px;
     /* background-color: aquamarine;  */
    display: flex;
    
    justify-content: space-around;
    gap: 30px;
    padding: 0%;
   
     
    
}
 .destacado{
    font-weight: bold;
    color: rgb(233,2,72);
 }

.secciones{
    grid-column: 3/11;
    grid-row: span 1;
    /* background-color: blueviolet; */
    height: 500px;

    display: flex;
    align-items: flex-start;
    
    
    
    

}

#multi-item-carousel{
    width: 90%;
    margin: 0 auto;
    padding-top: 30px;
}
.carousel-inner img{
    max-width: 100%;
    height: auto;
    filter: brightness(0.5);
    line-height: 5px;
    border-radius: 15px;

    
}

.texto-secciones{
    position: absolute;
    top: 50%; /* Centrar verticalmente */
    left: 50%; /* Centrar horizontalmente */
    transform: translate(-50%, -50%); /* Centrar completamente */
    
    color: white; /* Color de texto blanco */
    padding: 10px 20px; /* Espaciado interno */
    border-radius: 5px; /* Bordes redondeados */
    font-size: 18px; /* Tamaño de fuente */
    letter-spacing: 3px;
    font-weight: bold;
    font-size: 28px;


    
}
#viral{
    font-size: 48px;
}

.posicion{
    position: relative;
}
#decoracion-secciones{
    background-image: url("img/decoracionSecciones.png");
    background-repeat: no-repeat;
    background-position-y: 40px;
    background-size:100% 4% ;
}




.calificaciones{
    grid-column: 3/11;
    grid-row: span 1;
    /* background-color: burlywood;  */
    height: 500px;

    padding-top: 0px;
    


}

.contenedor-tarjetas{
    /* background-color: aqua; */

    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    padding-top: 0px;
    
}
.tarjeta{
    background-color: white;
    color: gray;
    border-radius: 15px;

    display: flex;
    flex-direction: column;
    align-items: center;
    
    
    
    width: 25%;
    margin: 20px;
    padding: 10px;
    text-align: center;
    word-wrap: break-word;

    row-gap: 10px;
    p{
        text-align: left;
    }
    h5{
        font-weight: bold;
    }

}

.tarjeta img{
        width: 100px;
        height: 100px;
        border-radius: 50%;
        object-fit: cover;
}






.bullets{
    grid-column: 3/11;
    grid-row: span 1;
    /* background-color: cadetblue;  */
    height: 500px;

    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 50px;
    text-align: center;

}

.bullets div{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.bullets img{
    width: 90px;
    height: auto;
    padding-bottom: 20px;
    
    
}

.formulario{
    grid-column: 3/11;
    grid-row: span 1;
    background-color:white;
    color: black;
    height: 500px;
    background-image: url(img/decoracionFormulario.png);
    background-repeat: no-repeat;
    background-size: 420px 180px;

    display: flex;
    align-items: center;
    justify-content: space-between;
    row-gap: 0px;
    padding-right: 70px;
    
    h3{
        padding-top: 100px;
        padding-left: 50px;
    }
    h2{
        
        padding-left: 50px;
        font-weight: 700;
    }

    
}

input[type="text"]{
    background-color: rgb(21,21,21);
    color: white;
    border-radius: 10px;
    border: none;
    padding-left: 5%;
    margin-top: 10px;
}


.footer{
    grid-column: span 12;
    grid-row: span 1;
    background-color: rgb(233,2,72);
    height: 80px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    

    > div img{
        width: 30px;
        height: 30px;
    }
}

.feedback{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 100px;
} 

.oculto{
    display: none !important;
}






/* si la pantalla es igual o menor a 390px se aplica */
@media (max-width:230px){
    
    #fondo{
        background-image: none;
        /* background-image: url(img/portada.png), url(img/decoracionCalificaciones.png), url(img/decoracionCalificaciones.png),
        url(img/decoracionBullets.png), url(img/decoracionBullets.png), url(img/decoracionBullets.png), url(img/decoracionFormulario1.png);
        background-repeat: no-repeat;
        
        background-position: 0px 60px, -200px 2100px, 1070px 2100px, 160px 2750px , 490px 2750px, 810px 2750px, 0px 3240px;
        background-size: 1270px 550px, auto, auto, 350px 300px,350px 300px,350px 300px, 220px 180px;
         */
        
    }

    h1{
        font-size: 52px;
        
      font-family: "Epilogue", sans-serif;
      font-optical-sizing: auto;
      font-weight: 700;
      font-style: normal;
    
    
      line-height: 80px;
    }
    h2{
     
        font-size: 28px;
      font-family: "Inter", sans-serif;
      font-optical-sizing: auto;
      font-weight: 100;
      font-style: normal;
      font-variation-settings:
        "slnt" 0;
    
    }
    
    .contenido{
    background-color: rgb(21,21,21);
    display: grid;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: auto auto auto auto auto auto auto auto;

   row-gap: 70px;

    
    }
    
    
    
    
    
    .titulo{
    
        grid-column: 2/12;
        grid-row: span 1;
        color: white;
        height: 700px;
        
        display: flex;
        justify-content: space-between;
        padding-top: 30px;
    
    }
    .button{
        background-color: rgba(233,2,72);
        
        color: white;
        border-radius: 15px;
        border: none;
        scroll-behavior: smooth;
        text-decoration: none;
        cursor: pointer;
        padding: 90px;
        padding-top: 10px;
        padding-bottom: 10px;
        
        
        
    }

    .beneficions{
        grid-column: 2/11;
        grid-row: span 1;
        
        height: 500px;
         /* background-color: aquamarine;  */
        display: flex;
        flex-direction: column;
        justify-content: stretch;
        
        padding: 0%;
       
         img{
            
            width: 100%;
            height: auto;
         }
        
    }

    .secciones{
        grid-column: 2/11;
        grid-row: span 1;
        /* background-color: blueviolet; */
        height: 600px;
    
        display: flex;
        
        align-items: flex-start;
        
        
        
        
    
    }
    .carousel-inner {
        display: flex; /* Cambia el display para que se muestre en línea */
        flex-wrap: nowrap; /* Evita que se rompa la línea */
        overflow-x: auto; /* Permite el scroll horizontal */
        -webkit-overflow-scrolling: touch; /* Añade scroll suave en iOS */
    }

    .carousel-item {
        flex: 0 0 auto; /* Ajusta el ancho de los elementos */
        width: 80%; /* Muestra dos elementos por fila */
    }  
    
    .texto-secciones{
        position: absolute;
        top: 50%; /* Centrar verticalmente */
        left: 50%; /* Centrar horizontalmente */
        transform: translate(-50%, -50%); /* Centrar completamente */
        
        color: white; /* Color de texto blanco */
        padding: 10px 20px; /* Espaciado interno */
        border-radius: 5px; /* Bordes redondeados */
        font-size: 18px; /* Tamaño de fuente */
        letter-spacing: 3px;
        font-weight: bold;
        font-size: 28px;
    }
    #decoracion-secciones{
        background-image: none;
        /* background-image: url("img/decoracionSecciones.png");
        background-repeat: no-repeat;
        background-position-y: 40px;
        background-size:100% 4% ; */
    }


    .calificaciones{
        grid-column: 2/11;
        grid-row: span 1;
        /* background-color: burlywood;  */
        height: 900px;
    
        padding-top: 0px;
        
    
    
    }
    
    .contenedor-tarjetas{
        /* background-color: aqua; */
           
        display: flex;
        flex-direction: column;
        
        
        
        flex-wrap: nowrap;
        padding-top: 0px;
        column-gap: 0px;
        
        
    }
    .tarjeta{
        background-color: white;
        color: gray;
        border-radius: 15px;
    
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-start;
        
        
        
        width:100%;
        height: auto;
        margin: 10px;
        margin-left: 0%;
        
        text-align: center;
        word-wrap: break-word;
    
        ;
        p{
            text-align: left;
        }
        h5{
            font-weight: bold;
        }
    
    }
    
    .tarjeta img{
            width: 50px;
            height: 50px;
            border-radius: 50%;
            object-fit: cover;
    }


    .bullets{
        grid-column: 2/11;
        grid-row: span 1;
        /* background-color: cadetblue;  */
        height: 600px;
    
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        
        text-align: center;
    
    }
    
    .bullets div{
        display: flex;
        flex-direction: column;
        align-items: center;
        
        
    }
    
    .bullets img{
        width: 60px;
        height: auto;
        padding-bottom: 8px;
        
        
    }


    .formulario{
        grid-column: 1/13;
        grid-row: span 1;
        background-color:white;
        color: black;
        height: 900px;
        width: 100%;
        background-image: url(img/decoracionFormulario.png);
        background-repeat: no-repeat;
        background-size: 120px 180px;
    
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: start;
       
        row-gap: 0px;
        padding-right: 70px;
        padding-top: 200px;
        padding-left: 35px;
        
        h2{
            padding-top: 0px;
            padding-left: 0px;
        }
        h3{
            padding-top: 0px;
            padding-left: 0px;
        }
       
        input[type="submit"]{
            padding: 72px;
             padding-top: 10px;
             padding-bottom: 10px;
             margin-top: 15px;
        }
        
    }
    #form.formulario{
        
    }
    
    input[type="text"]{
        background-color: rgb(21,21,21);
        color: white;
        border-radius: 10px;
        border: none;
        padding-left: 5%;
        margin-top: 10px;
    }
    


    


}
